[Unit]
Description=UniERP Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=unierp
Group=unierp
ExecStart=/usr/bin/unierp --config /etc/unierp/unierp.conf --logfile /var/log/unierp/unierp-server.log
KillMode=mixed

[Install]
WantedBy=multi-user.target

